__pycache__/
*.pyc
*.pyo
dist/
build/
*.egg-info/
.venv/
*.egg
*.gif
*.zip
*.json
*.txt

# Release please files MUST be tracked
!release-please-config.json
!.release-please-manifest.json

!ezcut/cli/assets/*.txt

# Generated version file
ezcut/_version.py
